.order-form{
  position: relative;
  float: left;
  width: 100%;
  min-height: 822px;
  background: url("../img/form-bg.png") no-repeat;
  background-size: cover;
  h1{
    margin-top: 232px;
    color: #132a34;
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
    font-family: $bebasBold;
    span{
      font-family: $bebas-Book;
      font-size: 52px;
    }
  }
  input{
    display: block;
    width: 355px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #cc0141;
    background-color: #edeff1;
    margin: 15px auto;
    &::placeholder{
      color: #4f5362;
      font-family: $latoMedium;
      font-size: 18px;
    }
  }
  input[type='text'],[type='tel']{
    padding-left: 20px;
    font-family: $latoMedium;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
  }
  &__absolute{
    position: absolute;
    top: 224px;
    left: -80px;
    img{
      width: 170px;
    }
  }
  button{
    width: 242px;
    height: 45px;
    border-radius: 10px;
    background-image: linear-gradient(0deg,#cf014f,#cf014f 0,#f20846 99%,#f20846);
    border: none;
    color: #ffffff;
    margin-bottom: 33px;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    text-transform: uppercase;
  }
  span{
    color: #132a34;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
    display: inline-block;
  }
  &__absolute-form{
    position: absolute;
    top: 178px;
    width: 650px;
    img{
      object-fit: cover;
      width: 100%;
    }
  }
  &__absolute-bottom{
    position: absolute;
    background: url("../img/offer-bottom-ablosute.png") no-repeat;
    background-size: cover;
    height: 217px;
    width: 100%;
    left: 0;
    bottom: -132px;
  }
}